<article class="alert-message" *ngIf="error">
  <p>{{ error }}</p>
</article>
<main class="sport">
  <section>
    <form [formGroup]="sportForm" (ngSubmit)="onSubmit()">
      <article class="sport-board-profile">
        <img
          src="/assets/images/background.jpg"
          alt="Item"
          class="sport-board-picture"
        />
        <label class="sport-board-name" for="name">Name<span>*</span></label>
        <input
          type="text"
          id="name"
          class="sport-board-value"
          formControlName="name"
        />
      </article>
      <article class="notification-alert" *ngIf="!name.valid && name.touched">
        <i class="fas fa-info-circle"></i>
        <span>Player Name is required. Min lenght is 3 characters.</span>
      </article>

      <article class="sport-board-profile">
        <img
          src="/assets/images/background.jpg"
          alt="Item"
          class="sport-board-picture"
        />
        <label class="sport-board-name" for="confirmationLink"
          >Confirmation Link</label
        >
        <input
          type="text"
          id="confirmationLink"
          class="sport-board-value"
          formControlName="confirmationLink"
        />
      </article>

      <article class="buttons">
        <section>
          <button class="btn-back" routerLink="/players">Back</button>
        </section>
        <section>
          <button class="btn-save" type="submit">Save</button>
        </section>
      </article>
    </form>
  </section>

  <section>
    <section class="players">
      <h2>Created<span>Sports</span></h2>
    </section>

    <article *ngIf="isLoading">
      <app-loading></app-loading>
    </article>

    <section class="sport-board-profile-list-all" *ngIf="!isLoading">
      <article class="sport-board-profile-list" *ngFor="let sport of sports">
        <img
          src="/assets/images/background.jpg"
          alt="Item"
          class="sport-board-picture"
        />
        <label class="sport-board-name" for="confirmationLink"
          >{{sport.name}}</label
        >
      </article>
    </section>
  </section>
</main>
