<header>
    <nav class="navigation">

        <p class="navigation-logo"> <i class="fas fa-globe-americas"></i>Sports<span>Players</span></p>
        <ul>
            <li routerLinkActive="active"><a routerLink="/players">Home</a></li>
            <li routerLinkActive="active"><a routerLink="1">Login</a></li>
            <li routerLinkActive="active"><a routerLink="2">Register</a></li>
            <li routerLinkActive="active"><a routerLink="/players/create">Create</a></li>
        </ul>
    </nav>
</header>