<header>
    <nav class="navigation">

        <p class="navigation-logo"><a routerLink="/players"><i
                    class="fas fa-globe-americas"></i>Sports<span>Players</span></a></p>
        <ul>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/players">Home</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/auth">Auth</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
                    routerLink="/players/create">Create</a></li>
        </ul>
    </nav>
</header>