.navigation {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    gap: 20%;
    background-color: #F7F7F7;
}

.navigation-logo {
    margin-left: 5%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.fas.fa-globe-americas {
    margin: 5px;
    color: var(--main-color);
}

.navigation-logo span {
    color: var(--main-color);
}

.navigation ul,
.navigation-bottom ul {
    display: flex;
}

.navigation ul li,
.navigation-bottom ul {
    list-style: none;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform .25s cubic-bezier(.7, .98, .86, .98), box-shadow .25s cubic-bezier(.7, .98, .86, .98);
    cursor: pointer;
}

.navigation-bottom {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    margin-right: 10%;
}

.navigation ul li:hover {
    transform: scale(1.1);
}


.navigation .active {
    border-bottom: 2px solid var(--main-color);
}

.navigation a,
.navigation-bottom a {
    text-decoration: none;
    color: var(--random-color);
    display: block;
    padding: 20px 10px;
    margin: 0 10px;
    cursor: pointer;
}

.logged-user a {
    color: var(--main-color);
}

.logged-user span {
    text-transform: capitalize;
    color: var(--random-color);
}

.fas.fa-bars {
    display: none;
}

@media screen and (max-width:850px) {

    .navigation {
        flex-direction: column;
    }

    .navigation-logo {
        margin-left: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .navigation-bottom {
        justify-content: center;
        margin-right: 0%;
    }

    .navigation-bottom ul {
        margin: 0;
        font-size: 14px;
    }

    .navigation a,
    .navigation-bottom a {
        font-size: 16px;
    }

    .fas.fa-bars {
        display: flex;
        align-items: center;
    }

    .menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin-bottom: 2%;
        margin-left: 2%;
        width: 95%;
        text-align: center;
    }

    .menu-title {
        color: var(--main-color);
        font-weight: bold;
        text-transform: uppercase;
    }

    .menu-dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #F7F7F7;
        text-align: center;
    }

    .menu-dropdown li {
        width: 100%;
    }

    .menu-dropdown>* {
        overflow: hidden;
        background: rgba(0, 0, 0, 0);
        white-space: nowrap;
        transition:
            0.5s height cubic-bezier(.73, .32, .34, 1.5),
            0.5s padding cubic-bezier(.73, .32, .34, 1.5),
            0.5s margin cubic-bezier(.73, .32, .34, 1.5),
            0.5s 0.2s color,
            0.2s background-color;
    }

    .menu-dropdown>*:hover {
        background: rgba(0, 0, 0, 0.1);
    }

    .hidden>.menu-dropdown>* {
        visibility: hidden;
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
        color: rgba(25, 25, 25, 0);
        transition:
            0.5s 0.1s height,
            0.5s 0.1s padding,
            0.5s 0.1s margin,
            0.3s color,
            0.6s visibility;
        z-index: 99;
        border-bottom: none;
    }
}