.navigation {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    gap: 30%;
    background-color: #F7F7F7;
    
}

.navigation-logo {
    margin-left: 100px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.fas.fa-globe-americas {
    margin: 5px;
    color: var(--main-color);
}

.navigation-logo span {
    color: var(--main-color);
}

.navigation ul,
.navigation-bottom ul {
    display: flex;
}

.navigation ul li,
.navigation-bottom ul {
    list-style: none;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform .25s cubic-bezier(.7, .98, .86, .98), box-shadow .25s cubic-bezier(.7, .98, .86, .98);
    cursor: pointer;
}

.navigation-bottom {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    margin-right: 10%;
}

.navigation ul li:hover {
    transform: scale(1.1);
}


.navigation .active {
    border-bottom: 2px solid var(--main-color);
}

.navigation a {
    text-decoration: none;
    color: var(--random-color);
}

.logged-user {
    color: var(--main-color);
}

.logged-user span {
    text-transform: capitalize;
    color: var(--random-color);
}