<footer>
  <nav class="footer">
    <ul>
      <li>
        <a
          target="_blank"
          rel="noreferrer"
          href="https://github.com/milen-hristov/world-sports-players"
          ><i class="fab fa-github hover"></i
        ></a>
      </li>
      <li>
        <a
          target="_blank"
          rel="noreferrer"
          href="https://www.linkedin.com/in/milenhristovbg/"
          class="hover"
          ><i class="fab fa-linkedin"></i> Milen Hristov</a
        >
      </li>
      <li class="footer-text">Sports Players - Angular 2022</li>
      <p class="footer-logo">
        <a routerLink="/players"
          ><i class="fas fa-globe-americas"></i>Sports<span>Players</span>
        </a>
      </p>
    </ul>
  </nav>
</footer>
