<main>
    <article class="user-board-name alert-message" *ngIf="error">
        <p>{{ error }}</p>
    </article>
    <section class="users" *ngIf="!isLoading">
        <h2>{{ isLoginMode ? 'Login' : 'Sign Up'}}<span>Now</span></h2>
        <section class="buttons">
            <button class="btn-switch" (click)="onSwitchMode()">
                {{ isLoginMode ? 'No account? Sing Up Now': 'Already registered? Login Now'}}
            </button>
        </section>
    </section>
    <article class="loading" *ngIf="isLoading">
        <p class="loading-text">Loading..</p>
        <app-loading></app-loading>
    </article>
    <section class="user">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <article class="user-board-profile">
                <img src="/assets/images/background.jpg" alt="Item" class="user-board-picture">
                <label class="user-board-name" for="email">Email</label>
                <input type="email" id="email" class="user-board-value" ngModel name="email">
            </article>
            <article class="user-board-profile">
                <img src="/assets/images/background.jpg" alt="Item" class="user-board-picture">
                <label class="user-board-name" for="sport">Password</label>
                <input type="password" id="password" class="user-board-value" name="password" ngModel>
            </article>

            <article class="user-board-profile" *ngIf="!isLoginMode">
                <img src="/assets/images/background.jpg" alt="Item" class="user-board-picture">
                <label class="user-board-name" for="sport">Repeat Password</label>
                <input type="password" id="repeat-password" class="user-board-value" ngModel name="repeat-password">
            </article>

            <article class="buttons">
                <section>
                    <button class="btn-enter" type="submit"> {{ isLoginMode ? 'Login' : 'Sign Up' }}</button>
                </section>
            </article>
        </form>
    </section>
</main>