<main class="player">
    <section class="player-image">
        <img src="{{player.imagePath}}" alt="{{player.name}}">
    </section>
    <section class="player-details">
        <h2>{{player.name}}</h2>
        <h3>{{player.sport}}</h3>

        <p class="player-details-notes">{{player.description}}</p>

        <article class="player-board">
            <section class="player-board-profiles">
                <article class="player-board-profile">
                    <img src="/assets/images/background.jpg" alt="Item" class="player-board-picture">
                    <span class="player-board-name">Country</span>
                    <span class="player-board-value">{{player.country}}<span></span></span>
                </article>

                <article class="player-board-profile">
                    <img src="/assets/images/background.jpg" alt="Item" class="player-board-picture">
                    <span class="player-board-name">Date of Birth</span>
                    <span class="player-board-value">{{player.dob}}<span></span></span>
                </article>

                <article class="player-board-profile">
                    <img src="/assets/images/background.jpg" alt="Item" class="player-board-picture">
                    <span class="player-board-name">Achievements</span>
                    <span class="player-board-value">{{player.achievements}}<span></span></span>
                </article>

                <article class="player-board-profile">
                    <img src="/assets/images/background.jpg" alt="Item" class="player-board-picture">
                    <span class="player-board-name">Status</span>
                    <span class="player-board-value">{{player.active == true ? 'Active' : 'Inactive'}}</span>
                </article>

                <article class="buttons">
                    <section>
                        <button class="btn-delete" (click)="onDeletePlayer()" type="button"
                            *ngIf="isOwner">Delete</button>
                        <button class="btn-edit" (click)="onEditPlayer()" type="button" *ngIf="isOwner">Edit</button>
                    </section>
                    <section>
                        <button class="btn-back" routerLink="/players" type="button">Back</button>
                    </section>
                </article>

            </section>
        </article>
    </section>
</main>