<hr>
<p>players-details works!</p>

<main class="player">
    <section class="player-image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Ivet_Lalova_by_Augustas_Didzgalvis.jpg"
            alt="Player Name">
    </section>
    <section class="player-details">
        <h2>Player Name</h2>
        <h3>Sport</h3>

        <p class="player-details-notes">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quod maiores,
            maxime voluptas quisquam voluptatem totam voluptate illum, quasi atque explicabo consequuntur dicta harum
            dolore magnam dolorem dignissimos dolorum mollitia!
        </p>

        <article class="player-board">
            <main class="player-board-profiles">
                <article class="player-board-profile">
                    <img src="https://i.ibb.co/tBs7P7F/32-3.jpg" alt="Item" class="player-board-picture">
                    <span class="player-board-name">Country</span>
                    <span class="player-board-value">Bulgaria<span></span></span>
                </article>

                <article class="player-board-profile">
                    <img src="https://i.ibb.co/tBs7P7F/32-3.jpg" alt="Item" class="player-board-picture">
                    <span class="player-board-name">Date of Birth</span>
                    <span class="player-board-value">01.05.1988<span></span></span>
                </article>


            </main>
        </article>
    </section>
</main>

<main class="player">
    <section class="player-image">
        <img src="https://phantom-marca.unidadeditorial.es/14cc0543ea4d71a07d7d254da3b547df/resize/660/f/webp/assets/multimedia/imagenes/2022/02/26/16458934615953.jpg"
            alt="Player Name">
    </section>
    <section class="player-details">
        <h2>Player Name</h2>
        <h3>Sport</h3>

        <p class="player-details-notes">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quod maiores,
            maxime voluptas quisquam voluptatem totam voluptate illum, quasi atque explicabo consequuntur dicta harum
            dolore magnam dolorem dignissimos dolorum mollitia!
        </p>

        <article class="player-board">
            <main class="player-board-profiles">
                <article class="player-board-profile">
                    <img src="https://i.ibb.co/tBs7P7F/32-3.jpg" alt="Item" class="player-board-picture">
                    <span class="player-board-name">Country</span>
                    <span class="player-board-value">Bulgaria<span></span></span>
                </article>

                <article class="player-board-profile">
                    <img src="https://i.ibb.co/tBs7P7F/32-3.jpg" alt="Item" class="player-board-picture">
                    <span class="player-board-name">Date of Birth</span>
                    <span class="player-board-value">01.05.1988<span></span></span>
                </article>


            </main>
        </article>
    </section>