<app-alert-message *ngIf="message" [message]="message"></app-alert-message>

<article *ngIf="isLoading">
  <app-loading></app-loading>
</article>

<section class="players" *ngIf="!isLoading">


  <h2>Search<span>Player</span></h2>
  <form [formGroup]="searchForm" class="search-form">
    <article class="search-text">
      <input class="search-input" type="text" id="searchedText" formControlName="searchedText" />
      <span class="hovertext" data-hover="Search by name, sport, and country">
        <i class="fas fa-info-circle"></i>
      </span>
    </article>
  </form>

  <h2>Player<span>List</span></h2>
  <section class="players-wrapper" [@fade] *ngIf="players.length > 0">
    <article
      class="player-card"
      *ngFor="let player of players"
      [routerLink]="[player.id]"
    >
      <article class="player-card-image">
        <img [src]="player.imagePath" alt="{{ player.name }}" />
      </article>
      <article class="player-card-details-wrapper">
        <h3 class="player-name">{{ player.name }}</h3>
        <p class="player-sport">{{ player.sport | titlecase }}</p>
        <p class="player-desc">{{ player.description | substring: 120 }}</p>
        <!-- <button>Read More</button> -->
      </article>
    </article>
  </section>
  <article class="no-entries" *ngIf="!players?.length">
    <h3>No players added. Be first to create a player.</h3>
  </article>
</section>
