<app-alert-message *ngIf="message" [message]="message"></app-alert-message>

<article *ngIf="isLoading">
  <app-loading></app-loading>
</article>

<section class="players" *ngIf="!isLoading">
  <h2>Player<span>List</span></h2>
  <section class="players-wrapper" [@fade]="players.length">
    <article
      class="player-card"
      *ngFor="let player of players"
      [routerLink]="[player.id]"
    >
      <article class="player-card-image">
        <img [src]="player.imagePath" alt="{{ player.name }}" />
      </article>
      <article class="player-card-details-wrapper">
        <h3 class="player-name">{{ player.name }}</h3>
        <p class="player-sport">{{ player.sport | titlecase }}</p>
        <p class="player-desc">{{ player.description | substring: 120 }}</p>
        <!-- <button>Read More</button> -->
      </article>
    </article>
  </section>
  <article class="no-entries" *ngIf="!players?.length">
    <h3>No players added. Be first to create a player.</h3>
  </article>
</section>
