<app-alert-message *ngIf="message" [message]="message"></app-alert-message>

<article *ngIf="isLoadingCreated">
  <app-loading></app-loading>
</article>

<section class="players" *ngIf="!isLoadingCreated">
  <h2>Created<span>Players</span> ({{ myPlayers.length }})</h2>
  <section class="players-wrapper">
    <app-my-created-players
      *ngFor="let playerEl of myPlayers"
      [player]="playerEl"
      [routerLink]="['/players/', playerEl.id]"
    >
    </app-my-created-players>
  </section>
  <article class="no-entries" *ngIf="!myPlayers.length">
    <h3>No players created.</h3>
  </article>
</section>

<article *ngIf="isLoadingMyFav">
  <app-loading></app-loading>
</article>

<section class="players" *ngIf="!isLoadingMyFav">
  <h2>My<span>Favourites</span> ({{ myFavPlayers.length }})</h2>
  <section class="players-wrapper">
    <app-my-created-players
      *ngFor="let playerEl of myFavPlayers"
      [player]="playerEl"
      [routerLink]="['/players/', playerEl.id]"
    >
    </app-my-created-players>
  </section>
  <article class="no-entries" *ngIf="!myFavPlayers.length">
    <h3>No players added to favourites.</h3>
  </article>
</section>
