<article *ngIf="isLoading">
  <app-loading></app-loading>
</article>

<section class="players" *ngIf="!isLoading">
  <h2>Created<span>Players</span> ({{ myPlayers.length }})</h2>
  <section class="players-wrapper">
    <article
      class="player-card"
      *ngFor="let player of myPlayers"
      [routerLink]="['/players/', player.id]"
    >
      <article class="player-card-image">
        <img [src]="player.imagePath" alt="{{ player.name }}" />
      </article>
      <article class="player-card-details-wrapper">
        <h3 class="player-name">{{ player.name }}</h3>
        <p class="player-sport">{{ player.sport | titlecase }}</p>
        <p class="player-desc">{{ player.description | substring: 120 }}</p>
      </article>
    </article>
  </section>
</section>
