<article *ngIf="isLoadingCreated">
  <app-loading></app-loading>
</article>
<section class="players" *ngIf="!isLoadingCreated">
  <h2>Created<span>Players</span> ({{ myPlayers.length }})</h2>
  <section class="players-wrapper">
    <app-my-created-players
      *ngFor="let playerEl of myPlayers"
      [player]="playerEl"
      [routerLink]="['/players/', playerEl.id]"
    >
    </app-my-created-players>
  </section>
</section>

<article *ngIf="isLoadingMyFav">
  <app-loading></app-loading>
</article>

<section class="players" *ngIf="!isLoadingMyFav">
  <h2>My<span>Favourites</span> ({{ myFavPlayers.length }})</h2>
  <section class="players-wrapper">
    <app-my-created-players
      *ngFor="let playerEl of myFavPlayers"
      [player]="playerEl"
      [routerLink]="['/players/', playerEl.id]"
    >
    </app-my-created-players>
  </section>
</section>