<app-alert-message *ngIf="message" [message]="message"></app-alert-message>

<main class="player">
  <form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
    <article class="player-board-profile">
      <img
        src="/assets/images/background.jpg"
        alt="Item"
        class="player-board-picture"
      />
      <label class="player-board-name" for="name">Name<span>*</span></label>
      <input
        type="text"
        id="name"
        class="player-board-value"
        formControlName="name"
      />
    </article>
    <article class="notification-alert" *ngIf="!name.valid && name.touched">
      <i class="fas fa-info-circle"></i>
      <span>Player Name is required. Min lenght is 3 characters.</span>
    </article>

    <article class="player-board-profile">
      <img
        src="/assets/images/background.jpg"
        alt="Item"
        class="player-board-picture"
      />
      <label class="player-board-name" for="sport">Sport<span>*</span></label>
      <select
        type="text"
        id="sport"
        class="player-board-value"
        formControlName="sport"
      >
        <option
          *ngFor="let sport of sports"
          value="{{ sport.name | lowercase }}"
        >
          {{ sport.name }}
        </option>
      </select>
    </article>
    <article class="notification-alert" *ngIf="!sport.valid && sport.touched">
      <i class="fas fa-info-circle"></i>
      <span>Please select a sport.</span>
      <p>If sport is missing, you can add it using the sport tab.</p>
    </article>

    <article class="player-board-profile">
      <img
        src="/assets/images/background.jpg"
        alt="Item"
        class="player-board-picture"
      />
      <label for="country" class="player-board-name"
        >Country<span>*</span></label
      >

      <select
        name="country"
        id="country"
        formControlName="country"
        class="player-board-value"
      >
        <option
          *ngFor="let country of countryList"
          value="{{ country.name | lowercase }}"
        >
          {{ country.name | substring: 20 }} [{{ country.code }}]
        </option>
      </select>
    </article>
    <article
      class="notification-alert"
      *ngIf="!country.valid && country.touched"
    >
      <i class="fas fa-info-circle"></i>
      <span>Please select a country from the list.</span>
    </article>

    <article class="player-board-profile">
      <img
        src="/assets/images/background.jpg"
        alt="Item"
        class="player-board-picture"
      />
      <label class="player-board-name" for="imagePath"
        >Image URL or<span></span
      ></label>
      <input
        type="url"
        id="imagePath"
        class="player-board-value"
        formControlName="imagePath"
      />
    </article>
    <app-upload-image></app-upload-image>
    <article
      class="notification-alert"
      *ngIf="!imagePath.valid && imagePath.touched"
    >
      <i class="fas fa-info-circle"></i>
      <span>Please add player image url.</span>
    </article>

    <article class="player-board-profile">
      <img
        src="/assets/images/background.jpg"
        alt="Item"
        class="player-board-picture"
      />
      <label class="player-board-name" for="dob"
        >Date of Birth<span>*</span></label
      >
      <input
        type="date"
        id="dob"
        class="player-board-value"
        formControlName="dob"
      />
    </article>
    <article class="notification-alert" *ngIf="!dob.valid && dob.touched">
      <i class="fas fa-info-circle"></i>
      <span>Please add player's date of birth.</span>
    </article>

    <article class="player-board-profile">
      <img
        src="/assets/images/background.jpg"
        alt="Item"
        class="player-board-picture"
      />
      <label class="player-board-name" for="achievements"
        >Achievements (Optional)</label
      >
      <textarea
        type="text"
        id="achievements"
        class="player-board-value"
        formControlName="achievements"
        rows="4"
      ></textarea>
    </article>

    <article class="player-board-profile">
      <img
        src="/assets/images/background.jpg"
        alt="Item"
        class="player-board-picture"
      />
      <label class="player-board-name" for="description"
        >Player Info<span>*</span></label
      >
      <textarea
        type="text"
        id="description"
        class="player-board-value"
        formControlName="description"
        rows="3"
      ></textarea>
    </article>
    <article
      class="notification-alert"
      *ngIf="!description.valid && description.touched"
    >
      <i class="fas fa-info-circle"></i>
      <span>Please add short intro about the player.</span>
    </article>

    <article class="player-board-profile">
      <img
        src="/assets/images/background.jpg"
        alt="Item"
        class="player-board-picture"
      />
      <label class="player-board-name" for="active">Status<span>*</span></label>
      <select
        type="text"
        id="active"
        class="player-board-value"
        formControlName="active"
      >
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
      </select>
    </article>
    <article class="notification-alert" *ngIf="!active.valid && active.touched">
      <i class="fas fa-info-circle"></i>
      <span>Please select if player is current active or retired.</span>
    </article>

    <article class="buttons">
      <section>
        <button class="btn-back" routerLink="/players">Back</button>
      </section>
      <section>
        <button class="btn-save" type="submit">Save</button>
      </section>
    </article>
  </form>
</main>
