.posts {
    padding: 0 5%;
}

.posts-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1%;
}

.post-card {
    -webkit-box-shadow: 0px 0px 6px 0px #000000;
    box-shadow: 0px 0px 6px 0px #000000;
    cursor: pointer;
}

.post-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.posts h2 {
    padding: 2% 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.posts h2>span {
    color: var(--main-color);
}

.post-card-details-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2%;
    margin: 2%;
}

.post-card-details-wrapper .post-name {
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    padding: 5% 0;
}

.post-card-details-wrapper .post-info-time,
.post-card-details-wrapper .post-info-owner {
    color: var(--text-color);
    font-weight: bold;
    vertical-align: bottom;
}

.no-entries {
    text-align: center;
    text-transform: uppercase;
}

.fas.fa-calendar-alt,
.fas.fa-marker {
    margin: 0 2%;
    color: var(--main-color);
}

@media screen and (max-width:1400px) {
    .posts-wrapper {
        grid-template-columns: repeat(2, 1fr);
        height: 80vh;
    }

    .post-details {
        width: 50%;
    }
}

@media screen and (max-width:1000px) {
    .posts-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .post-card-details-wrapper {
        padding-bottom: 15%;
    }

    .post-details {
        width: 52%;
    }
}

@media screen and (max-width:800px) {
    .posts-wrapper {
        display: flex;
        flex-direction: column;
        width: 20%;
        overflow-x: hidden;
        height: 100vh;
    }

    .post-card-details-wrapper {
        padding-bottom: 20%;
    }

    .post-details {
        width: 74%;
    }
}


@media screen and (max-width:600px) {
    .posts-wrapper {
        width: 30%;
        grid-template-columns: repeat(1, 1fr);
    }

    .post-card-details-wrapper {
        padding-bottom: 25%;
    }


}