.posts {
    padding: 0 5%;
}

.posts-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1%;
}

.post-card {
    -webkit-box-shadow: 0px 0px 6px 0px #000000;
    box-shadow: 0px 0px 6px 0px #000000;
    cursor: pointer;
}

.post-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.posts h2 {
    padding: 2% 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.posts h2>span {
    color: var(--main-color);
}

.post-card-details-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2%;
    margin: 2%;
}

.post-card-details-wrapper .post-name {
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    padding: 5% 0;
}

.post-card-details-wrapper .post-info-time,
.post-card-details-wrapper .post-info-owner {
    color: var(--text-color);
    font-weight: bold;
    vertical-align: bottom;
}

.no-entries {
    text-align: center;
    text-transform: uppercase;
}

.fas.fa-calendar-alt,
.fas.fa-marker {
    margin: 0 2%;
    color: var(--main-color);
}

@media screen and (max-width:1400px) {
    .posts-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width:1000px) {
    .posts-wrapper {
       display: flex;
       flex-wrap: wrap;
    }

    .post-card {
        width: 30%;
        margin: 1%;
    }

    .post-card-details-wrapper .post-name {
        font-size: 18px;
    }
    
    .post-card-details-wrapper .post-info-time,
    .post-card-details-wrapper .post-info-owner {
        font-size: 14px;
    }

    .post-card img {
        height: 200px;
    }
}

@media screen and (max-width:800px) {
    .post-card {
        width: 45%;
    }

    .post-card-details-wrapper .post-name {
        font-size: 16px;
    }
    
    .post-card-details-wrapper .post-info-time,
    .post-card-details-wrapper .post-info-owner {
        font-size: 12px;
    }

    .post-card img {
        height: 150px;
    }
}


@media screen and (max-width:600px) {
    .post-card {
        width: 47%;
    }

    .post-card-details-wrapper .post-name {
        font-size: 12px;
    }
    
    .post-card-details-wrapper .post-info-time,
    .post-card-details-wrapper .post-info-owner {
        font-size: 8px;
    }

    .post-card img {
        height: 100px;
    }
}