<app-alert-message *ngIf="message" [message]="message"></app-alert-message>

<article *ngIf="isLoading">
  <app-loading></app-loading>
</article>

<section class="posts" *ngIf="!isLoading">
  <h2>All<span>Posts</span></h2>
  <section class="post-container">
    <section
      class="posts-wrapper"
      [@fade]="posts.length"
    >
      <article
        class="post-card"
        *ngFor="let post of posts"
        [routerLink]="[post.id]"
        (click)="onClickPost(post.id)"
      >
        <article class="post-card-image">
          <img [src]="post.imagePath" alt="{{ post.name }}" />
        </article>
        <article class="post-card-details-wrapper">
          <p class="post-info-time">
            <i class="fas fa-calendar-alt"></i
              >
              <span>{{ post.date | dateAgo }}</span>
            </p>
            <p class="post-info-owner">
              <i class="fas fa-marker"></i> <span>{{ post.ownerEmail }}</span>
            </p>
            <h3 class="post-name">{{ post.name | substring: 100 }}</h3>
        </article>
      </article>
    </section>

  <article class="no-entries" *ngIf="!posts?.length">
    <h3>No posts added. Be first to create a post.</h3>
  </article>
</section>
