<app-alert-message *ngIf="message" [message]="message"></app-alert-message>

<article *ngIf="isLoading">
  <app-loading></app-loading>
</article>

<main class="post" *ngIf="!isLoading">
  <section class="post-details" [@postIntro]>
    <section class="post-heading">
      <article class="post-info">
        <h2 class="post-info-name">{{ post.name }}</h2>
      </article>
      <h3 class="post-info-owner">by {{ post.ownerEmail }}</h3>
      <h4 class="post-info-time">{{ post.date | date: "fullDate" }}</h4>

      <article class="post-body">
        <section class="post-body-image">
          <img src="{{ post.imagePath }}" alt="{{ post.name }}" />
        </section>
        <section class="post-body-text">
          <p class="post-details-notes">{{ post.info }}</p>
        </section>
      </article>

      <article class="buttons">
        <section>
          <button
            class="btn-delete"
            (click)="onDeletePost()"
            type="button"
            *ngIf="isOwner"
          >
            Delete
          </button>
          <button
            class="btn-edit"
            (click)="onEditPost()"
            type="button"
            *ngIf="isOwner"
          >
            Edit
          </button>
        </section>
        <section>
          <button
            class="btn-back"
            (click)="onHidePost()"
            routerLink="/blog/posts"
            type="button"
          >
            Hide
          </button>
        </section>
      </article>
    </section>
  </section>
</main>
