.post {
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.post-details {
    width: 40%;
}

.post-info {
    padding: 2% 5%;
    background-color: aliceblue;
    text-align: left;
}

.post-body-image {
    max-height: 500px;
    overflow: hidden;
    border-radius: 84% 16% 83% 17% / 12% 87% 13% 88%;
}

.post-body-image img {
    width: 100%;
}

.post-info-owner {
    text-align: left;
    font-weight: bold;
    margin-left: 5%;
    letter-spacing: 3px;
    color: var(--secondary-color);
}

.post-info-time {
    text-align: left;
    font-weight: bold;
    margin-left: 5%;
    letter-spacing: 3px;
}

.post-info-name {
    text-transform: uppercase;
    font-size: 40px;
    color: var(--main-color);
}

.post-body {
    display: flex;
    flex-direction: column;
}

.post-details-notes {
    padding: 5%;
    text-align: justify;
    font-family: var(--font-blog);
    font-size: 20px;
    line-height: 1.6em;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons .btn-back,
.buttons .btn-edit,
.buttons .btn-delete,
.buttons .btn-save {
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.buttons .btn-back {
    background-color: var(--text-color);
}

.buttons .btn-save {
    background-color: var(--safe-color);
}

.buttons .btn-delete {
    background-color: var(--danger-color);
}

.buttons .btn-edit {
    background-color: var(--neutral-color);
}

.post-board-profile {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
    padding: 10px 30px 10px 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    /* cursor: pointer; */
    transition: transform .25s cubic-bezier(.7, .98, .86, .98), box-shadow .25s cubic-bezier(.7, .98, .86, .98);
    background-color: #fff;
    margin: 2%;
}

.post-board-picture {
    max-width: 100%;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #ebeef3, 0 0 0 22px #f3f4f6;
}

.post-board-name {
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.64px;
    padding: 2%;
}

.post-board-value {
    color: var(--text-color);
    font-size: 16px;
    text-align: justify;
    padding: 2%;
}

.notification-alert {
    color: var(--danger-color);
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

textarea {
    resize: none;
}

.comment-section {
    width: 40%;
}

.comment-board-profile {
    padding: 10px 30px 10px 10px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    transition: transform .25s cubic-bezier(.7, .98, .86, .98), box-shadow .25s cubic-bezier(.7, .98, .86, .98);
    background-color: #fff;
    margin: 2%;
}

.comment-full {
    display: flex;
    flex-direction: column;
}

.comment-board-info-left {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:1000px) {

    .post-info-name {
        font-size: 26px;
    }

    .post-info-time,
    .post-info-owner {
        font-size: 18px;
    }

    .comment-section,
    .post-details {
        width: 80%;
    }

    .post-details-notes {
        font-size: 18px;
    }
}

@media screen and (max-width:800px) {

    .post-info-name {
        font-size: 20px;
    }

    .post-info-time,
    .post-info-owner {
        font-size: 14px;
        padding: 2% 0;
    }

    .comment-section,
    .post-details {
        width: 90%;
    }

    .post-details-notes {
        font-size: 16px;
    }

    .buttons {
        width: 100%;
        justify-content: space-around;
    }

    .buttons .btn-edit,
    .buttons .btn-delete {
        width: 60%;
        padding: 20px 0;
    }

}

@media screen and (max-width:600px) {
    .post-info-name {
        font-size: 18px;
    }

    .post-board-name,
    .post-info-time,
    .post-info-owner {
        font-size: 12px;
        padding: 3% 0;
    }

    .comment-section,
    .post-details {
        width: 96%;
    }
}