.post {
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-details {
    width: 40%;
}

.post-info {
    padding: 2% 5%;
    background-color: aliceblue;
    text-align: left;
}

.post-body-image {
    max-height: 500px;
    overflow: hidden;
    border-radius: 84% 16% 83% 17% / 12% 87% 13% 88%;
}

.post-body-image img {
    width: 100%;
}

.post-info-owner {
    text-align: left;
    font-weight: bold;
    margin-left: 5%;
    letter-spacing: 3px;
    color: var(--secondary-color);
}

.post-info-time {
    text-align: left;
    font-weight: bold;
    margin-left: 5%;
    letter-spacing: 3px;
}

.post-info-name {
    text-transform: uppercase;
    font-size: 40px;
    color: var(--main-color);
}

.post-body {
    display: flex;
    flex-direction: column;
}

.post-details-notes {
    padding: 5%;
    text-align: justify;
    font-family: var(--font-blog);
    font-size: 20px;
    line-height: 1.6em;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons .btn-back,
.buttons .btn-edit,
.buttons .btn-delete {
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.buttons .btn-back {
    background-color: var(--text-color);
}

.buttons .btn-delete {
    background-color: var(--danger-color);
}

.buttons .btn-edit {
    background-color: var(--neutral-color);
}


@media screen and (max-width:1000px) {

    .post-info-name {
        font-size: 26px;
    }

    .post-info-time,
    .post-info-owner {
        font-size: 18px;
    }

    .post-details {
        width: 80%;
    }

    .post-details-notes {
        font-size: 18px;
    }
}

@media screen and (max-width:800px) {

    .post-info-name {
        font-size: 20px;
    }

    .post-info-time,
    .post-info-owner {
        font-size: 14px;
        padding: 2% 0;
    }

    .post-details {
        width: 90%;
    }

    .post-details-notes {
        font-size: 16px;
    }

    .buttons .btn-back,
    .buttons .btn-edit,
    .buttons .btn-delete {
        padding: 10px 15px;
    }

}

@media screen and (max-width:600px) {
    .post-info-name {
        font-size: 18px;
    }

    .post-info-time,
    .post-info-owner {
        font-size: 12px;
        padding: 3% 0;
    }

    .post-details {
        width: 96%;
    }
}