<app-alert-message *ngIf="message" [message]="message"></app-alert-message>

<article *ngIf="isLoading">
  <app-loading></app-loading>
</article>

<main class="post" *ngIf="!isLoading">
  <section class="post-details">
    <section class="post-heading">
      <article class="post-info">
        <h2>{{ post.name }}</h2>
        <h3>by {{ post.ownerEmail }}</h3>
        <h4>{{ post.date | date: "fullDate" }}</h4>
        <section class="post-image">
          <img src="{{ post.imagePath }}" alt="{{ post.name }}" />
        </section>
      </article>
    </section>
    <article class="post-heading">
      <p class="post-details-notes">{{ post.info }}</p>
    </article>

    <article class="post-board">
      <article class="buttons">
        <button
          class="btn-delete"
          (click)="onDeletePost()"
          type="button"
          *ngIf="isOwner"
        >
          Delete
        </button>
        <button
          class="btn-edit"
          (click)="onEditPost()"
          type="button"
          *ngIf="isOwner"
        >
          Edit
        </button>
        <button
          class="btn-back"
          routerLink="/blog/posts"
          type="button"
        >
          Hide
        </button>
      </article>
    </article>
  </section>
</main>
