/* You can add global styles to this file, and also import other style files */
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital@1&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --main-color: #008CBA;
    --secondary-color: #002E3D;
    --text-color: #3E4548;
    --light-color: #cad5da;
    --random-color: #050d11;
    --danger-color: #C85C5C;
    --neutral-color: #6FB2D2;
    --safe-color: #17c560;
    --font-blog: "STIX Two Text", serif;
}