.alert-message-default,
.alert-message-active {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.64px;
    padding: 10px 0;
}

.alert-message-default {
    color: var(--light-color);
}

.alert-message-active {
    color: var(--main-color);
    background-color: aliceblue;
}